*{
  margin : 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #edf2f8 ;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: min(90vw,50rem);
  margin: 0 auto;
  display:flex;
  justify-content: space-between;
  padding: 1rem;
}
small{
 text-align: center;
 display:block;
 font-size: 1.2rem;
 margin-bottom: 1rem;
}
.box{
  border: 1px solid black;
  padding: 2rem;
  font-size: 1.5rem;
}

